<style>
    .section--{{ section.id }} .u-bg-overlay::before {
        opacity: 0;
    }
    .section--{{ section.id }} .home-image-grid__title, .section--{{ section.id }} .home-image-grid__desc {
        color: {{section.settings.color}};
    }
    .section--{{ section.id }} .o-layout {
        display: flex;
    }
    .section--{{ section.id }} .o-layout .right-image {
        height: 100%;
    }
    .section--{{ section.id }} .image-collection-button {
        color: {{section.settings.color}};
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 20px;
        padding: 0 15px;
    }
</style>
    <section class="section section--mb-s section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="home-image-grid">
        <div class="home-image-grid home-image-grid--{{ section.settings.height }}">
            <div class="container">
                <div class="home-image-grid__items">
                    <div class="o-layout">
                        {%- assign grid_item_width = '1/2' -%}
                        <div class="o-layout__item u-1/1 u-{{ grid_item_width }}@tab">
                            <div class="u-flex-parent right-image">
                                <div class="home-image-grid__item home-image-grid__item--image">
                                    {% if section.settings.left_image %}
                                    <div class="home-image-grid__bg--cover u-bg-contain u-bg-overlay" style="background-image: url('{{ section.settings.image | img_url: '1x1' }}')"></div>
                                    {% endif %}
                                    <div class="home-image-grid__bg home-image-grid__bg--{{ section.id }} u-bg-cover u-bg-overlay u-bg-overlay--light img-lazyload lazyload js"
                                        data-bgset="{% render 'bgset', image: section.settings.left_image %}"
                                        data-sizes="auto"
                                        data-parent-fit="cover"
                                        {% if section.settings.left_image %}
                                        style="background-position: center {{ section.settings.left_image_alignment }};"
                                        {% endif %}>
                                        {% if section.settings.left_image == blank %}
                                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                            {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                        {% endif %}
                                    </div>
                                    <noscript>
                                        {% case grid_item_width %}
                                            {% when '1/1' %}
                                                {%- assign image_width = '1400x' -%}
                                            {% when '2/3' %}
                                                {%- assign image_width = '1000x' -%}
                                            {% when '1/2' %}
                                                {%- assign image_width = '900x' -%}
                                            {% when '1/3' %}
                                                {%- assign image_width = '800x' -%}
                                        {% endcase %}
                                        <div class="home-image-grid__bg home-image-grid__bg--{{ section.id }} u-bg-cover u-bg-overlay u-bg-overlay--light" 
                                            {% if section.settings.left_image %}
                                            style="background-position: center {{ section.settings.left_image_alignment }}; background-image: url('{{ section.settings.left_image | img_url: image_width }});"
                                            {% endif %}>
                                        </div> 
                                        {% if section.settings.left_image == blank %}
                                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                            {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                        {% endif %}
                                    </noscript> 
                                </div>
                            </div>
                        </div>
                        <div class="o-layout__item u-1/1 u-{{ grid_item_width }}@tab">
                            <div class="u-flex-parent">
                                <div class="home-image-grid__item home-image-grid__item--image">
                                    {% if section.settings.right_image %}
                                    <div class="home-image-grid__bg--cover u-bg-contain u-bg-overlay" style="background-image: url('{{ section.settings.image | img_url: '1x1' }}')"></div>
                                    {% endif %}
                                    <div class="home-image-grid__bg home-image-grid__bg--{{ section.id }} u-bg-cover u-bg-overlay u-bg-overlay--light img-lazyload lazyload js"
                                        data-bgset="{% render 'bgset', image: section.settings.right_image %}"
                                        data-sizes="auto"
                                        data-parent-fit="cover"
                                        {% if section.settings.right_image %}
                                        style="background-position: center {{ section.settings.right_image_alignment }};"
                                        {% endif %}>
                                        {% if section.settings.right_image == blank %}
                                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                            {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                        {% endif %}
                                    </div>
                                    <noscript>
                                        {% case grid_item_width %}
                                            {% when '1/1' %}
                                                {%- assign image_width = '1400x' -%}
                                            {% when '2/3' %}
                                                {%- assign image_width = '1000x' -%}
                                            {% when '1/2' %}
                                                {%- assign image_width = '900x' -%}
                                            {% when '1/3' %}
                                                {%- assign image_width = '800x' -%}
                                        {% endcase %}
                                        <div class="home-image-grid__bg home-image-grid__bg--{{ section.id }} u-bg-cover u-bg-overlay u-bg-overlay--light" 
                                            {% if section.settings.right_image %}
                                            style="background-position: center {{ section.settings.right_image_alignment }}; background-image: url('{{ section.settings.right_image | img_url: image_width }});"
                                            {% endif %}>
                                        </div> 
                                        {% if section.settings.right_image == blank %}
                                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                            {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                        {% endif %}
                                    </noscript>
                                </div>
                            </div>
                            <div class="image-collection-text">
                                <div class="home-image-grid__content">
                                    {% unless section.settings.title == blank %}
                                        <h3 class="home-image-grid__title h2">{{ section.settings.title }}</h3>
                                    {% endunless %}
                                    {% unless section.settings.text == blank %}
                                        <p class="home-image-grid__desc">{{ section.settings.text | escape }}</p>
                                    {% endunless %}
                                    {% unless section.settings.link == blank %}
                                        <a href="{{ section.settings.link }}" class="c-btn c-btn--primary home-image-grid__btn image-collection-button">{{ section.settings.link_title }}</a>
                                    {% endunless %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% schema %}
{
    "name": "Image grid with text",
    "class": "js-section__home-image-grid",
    "settings": [
        {
            "type": "select",
            "id": "height",
            "label": "Section height",
            "default": "medium",
            "options": [
                {
                    "label": "Small",
                    "value": "small"
                },
                {
                    "label": "Medium",
                    "value": "medium"
                },
                {
                    "label": "Large",
                    "value": "large"
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "left_image",
            "label": "Left Image",
            "info": "1400px width recommended."
        },
        {
            "type": "select",
            "id": "left_image_alignment",
            "label": "Left Image alignment",
            "default": "center",
            "options": [
                {
                    "value": "top",
                    "label": "Top"
                },
                {
                    "value": "center",
                    "label": "Middle"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "right_image",
            "label": "Right Image",
            "info": "1400px width recommended."
        },
        {
            "type": "select",
            "id": "right_image_alignment",
            "label": "Right Image alignment",
            "default": "center",
            "options": [
                {
                    "value": "top",
                    "label": "Top"
                },
                {
                    "value": "center",
                    "label": "Middle"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image block"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Use these image blocks to tell your story, promote your products or create a beautiful gallery."
        },
        {
            "type": "text",
            "id": "link_title",
            "label": "Button label",
            "default": "Learn more"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        },
        {
            "type": "color",
            "id": "color",
            "label": "Text color",
            "default": "#000000"
        }
    ]
}
{% endschema %}